/* 1. Use a more-intuitive box-sizing model */
.solutions-container {
  background-image: url(../assets/home/bg-pattern-header.svg);
  background-size: cover;
  background-position: 34rem -47rem;
  background-repeat: no-repeat;
}
.solutions-container .solutions-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.solutions-container .solutions-row .logo {
  margin-bottom: 5rem;
}
.solutions-container .solutions-row .illustration-charts {
  position: relative;
  max-width: 100%;
  top: 6rem;
}
.solutions-container .solutions-row h1 {
  color: #333950;
  font-size: 3.5rem;
  font-weight: 700;
}
.solutions-container .solutions-row p {
  color: #747B95;
  font-size: 1.125rem;
  width: 33.75rem;
}
.solutions-container .solutions-row .btn {
  padding: 0.7rem 2rem;
  text-decoration: none;
  border-radius: 3.125rem;
  font-size: 1rem;
  font-weight: 500;
}
.solutions-container .solutions-row .get-started-1 {
  top: 2rem;
  background-color: #5175FF;
  color: #ffffff;
  position: relative;
}
.solutions-container .solutions-row .get-started-1:hover {
  background-color: #829CFF;
}

.box-subscriptions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  position: relative;
  top: 17rem;
}
.box-subscriptions .basic,
.box-subscriptions .pro,
.box-subscriptions .ultimate {
  padding: 2rem;
  border-radius: 1rem;
}
.box-subscriptions .basic .card-price,
.box-subscriptions .pro .card-price,
.box-subscriptions .ultimate .card-price {
  font-size: 3.5rem;
  font-weight: 700;
}
.box-subscriptions .basic p,
.box-subscriptions .pro p,
.box-subscriptions .ultimate p {
  font-size: 1.25rem;
  padding: 0.8rem 0;
}
.box-subscriptions .basic,
.box-subscriptions .ultimate {
  background-color: white;
}
.box-subscriptions .basic p,
.box-subscriptions .basic h2,
.box-subscriptions .ultimate p,
.box-subscriptions .ultimate h2 {
  color: #333950;
  text-align: center;
}
.box-subscriptions .basic .btn-basic,
.box-subscriptions .basic .btn-ultimate,
.box-subscriptions .ultimate .btn-basic,
.box-subscriptions .ultimate .btn-ultimate {
  background-color: #e4dcdc;
  color: #5175FF;
  text-decoration: none;
  padding: 0.7rem 2rem;
  border-radius: 3.125rem;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  top: 0.5rem;
  left: 20%;
}
.box-subscriptions .basic .btn-basic:hover,
.box-subscriptions .basic .btn-ultimate:hover,
.box-subscriptions .ultimate .btn-basic:hover,
.box-subscriptions .ultimate .btn-ultimate:hover {
  background-color: #e3e4e4;
}
.box-subscriptions .pro {
  background-color: #5175FF;
  background-image: url(../assets/home/bg-pattern-pricing.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.box-subscriptions .pro p,
.box-subscriptions .pro h2 {
  color: white;
  text-align: center;
}
.box-subscriptions .pro .btn-pro {
  background-color: #ffffff;
  color: #5175FF;
  text-decoration: none;
  padding: 0.7rem 2rem;
  border-radius: 3.125rem;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  top: 0.5rem;
  left: 20%;
}

@media (max-width: 64rem) {
  .solutions-container {
    background-position: 24rem -26rem;
  }
  .solutions-container .solutions-row .logo {
    margin-left: 2.5rem;
  }
  .solutions-container .solutions-row h1 {
    font-size: 2.5rem;
    width: 25rem;
  }
  .solutions-container .solutions-row p {
    font-size: 1rem;
    width: 21.563rem;
  }
  .solutions-container .solutions-row .get-started-1 {
    left: 2.5rem;
  }
  .box-subscriptions {
    top: 25rem;
    flex-direction: column;
  }
  .box-subscriptions .sub-cards {
    width: 43.063rem;
  }
  .box-subscriptions .btn-ultimate,
  .box-subscriptions .btn-pro,
  .box-subscriptions .btn-basic {
    left: 20%;
  }
}
@media (max-width: 48rem) {
  .solutions-container {
    background-position: -8rem -11rem;
  }
  .solutions-container .solutions-row {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .solutions-container .solutions-row .logo {
    position: relative;
    top: -16rem;
    left: 5rem;
  }
  .solutions-container .solutions-row .illustration-charts {
    width: 60%;
    margin: auto;
  }
  .solutions-container .solutions-row h1 {
    font-size: 2.2rem;
    text-align: center;
  }
  .solutions-container .solutions-row p {
    font-size: 1rem;
    text-align: center;
    position: relative;
    left: 1.5rem;
  }
  .solutions-container .solutions-row .get-started-1 {
    position: relative;
    left: 7rem;
  }
  .box-subscriptions .sub-cards {
    max-width: 20.438rem;
  }
}
footer {
  background-color: #25293A;
  background-image: url(../assets/home/bg-pattern-footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -40rem center;
  height: 37.688rem;
}
footer .footer-container .footer-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 21.5rem;
  position: relative;
}
footer .footer-container .footer-row h4 {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
}
footer .footer-container .footer-row span {
  color: #5175FF;
  font-size: 1rem;
  font-weight: 500;
}
footer .footer-container .footer-row .get-started-2 {
  background-color: #5175FF;
  color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 3.125rem;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}
footer .footer-container .footer-row .get-started-2:hover {
  background-color: #829CFF;
}
footer .footer-container .counter-cards {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}
footer .footer-container .counter {
  background-color: #333950;
  padding: 1rem;
  border-radius: 0.625rem;
  text-align: center;
}
footer .footer-container .counter .counter-number {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 600;
}
footer .footer-container .counter span {
  color: #747B95;
  font-size: 1rem;
  font-weight: 600;
}

@media (max-width: 1024px) {
  footer {
    height: 61.625rem;
    background-position: center center;
  }
  footer .footer-row {
    flex-direction: column;
    top: 76rem;
    position: relative;
  }
  footer .footer-row h4 {
    text-align: center;
    position: relative;
    font-size: 1rem;
    top: 11rem;
  }
  footer .footer-row .counter-cards {
    position: relative;
    top: 13rem;
  }
  footer .footer-row .get-started-2 {
    position: relative;
    top: 17rem;
    margin-top: 4rem;
  }
}
@media (max-width: 768px) {
  footer .counter {
    padding: 0;
  }
  footer .counter .counter-number {
    font-size: 2rem;
  }
}
.container {
  height: 100vh;
}
.container .logo {
  margin-bottom: 3rem;
  margin-left: 8rem;
}
.container .row {
  display: flex;
  justify-content: space-between;
  padding: 4rem 8rem;
}
.container .row h1 {
  color: #333950;
  font-size: 3.5rem;
  line-height: 4rem;
  width: 33.75rem;
}
.container .row p {
  color: #747B95;
  font-size: 1.125rem;
  width: 33.75rem;
}
.container .row h4 {
  color: #333950;
  font-size: 1rem;
  font-weight: 500;
}
.container .row span {
  color: #5175FF;
  font-size: 1rem;
  font-weight: 500;
}
.container .row .form-pack {
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 31.75rem;
  width: 27.813rem;
  padding: 2.5rem;
  position: absolute;
}
.container .row .form-pack .input-field {
  border: none;
  border-bottom: 1px solid #747B95;
  width: 22.5rem;
}
.container .row .form-pack .input-field__submenu {
  background-color: #fff;
  border: 1px solid #747B95;
  box-shadow: 0px 39px 38px -6px rgba(8, 8, 8, 0.44);
  -webkit-box-shadow: 0px 39px 38px -6px rgba(8, 8, 8, 0.44);
  -moz-box-shadow: 0px 39px 38px -6px rgba(8, 8, 8, 0.44);
  height: 198px;
  width: 367px;
  padding: 20px 30px;
  margin: 20px 0;
  z-index: 4;
  font-weight: 700;
  border-radius: 10px;
  position: absolute;
  top: 14rem;
  display: none;
}
.container .row .form-pack .dropdown {
  position: relative;
  cursor: pointer;
}
.container .row .form-pack .submenu-control {
  display: flex;
  align-items: center;
  padding: 0.8rem;
}
.container .row .form-pack .submenu-control a {
  color: #25293A;
  text-decoration: none;
}
.container .row .form-pack .submenu-control span {
  color: #747B95;
  position: relative;
  left: 0.5rem;
}
.container .row .form-pack .form-controls {
  display: flex;
  align-items: center;
}
.container .row .form-pack .icon-error {
  position: relative;
  left: -2rem;
  top: -0.1rem;
  display: none;
}
.container .row .form-pack .icon-check {
  position: relative;
  left: 9rem;
}
.container .row .form-pack .arrow-down {
  cursor: pointer;
  position: relative;
  left: -2.2rem;
}
.container .row .form-pack .input-field[type=name],
.container .row .form-pack .input-field[type=text],
.container .row .form-pack .input-field[type=email],
.container .row .form-pack .input-field[type=tel],
.container .row .form-pack .input-field[type=company] {
  color: #747B95;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
}
.container .row .form-pack .input-field.error-placeholder::placeholder {
  color: #F05B5B;
}
.container .row .form-pack .btn-large {
  background-color: #5175FF;
  border-radius: 3.125rem;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 2rem;
  width: 100%;
}
.container .row .form-pack .btn-large:hover {
  background-color: #829CFF;
}
.container .row .side-pattern {
  background-color: #333950;
  max-width: 100%;
  width: 40%;
  height: 100vh;
}
.container .counter-cards {
  display: flex;
  gap: 0.5rem;
}
.container .counter {
  background-color: #f7f7f7;
  padding: 1rem;
  border-radius: 0.625rem;
  text-align: center;
  width: 7rem;
}
.container .counter .counter-number {
  color: #5175FF;
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  left: -14.5rem;
}
.container .counter span {
  color: #747B95;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 64rem) {
  .container .row {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .container .row h1 {
    text-align: center;
    font-size: 2.5rem;
  }
  .container .row p {
    font-size: 1rem;
    width: 35.75rem;
    text-align: center;
  }
  .container .row h4 {
    text-align: center;
    position: relative;
    top: 2rem;
  }
  .container .row .counter-cards {
    position: relative;
    top: 3rem;
  }
  .container .row .form-pack {
    position: relative;
    top: 14rem;
  }
  .container .row .side-pattern {
    height: 27.75rem;
    width: 100%;
  }
}
@media (max-width: 48rem) {
  .container .row {
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .container .row h1 {
    font-size: 2.5rem;
    width: 20.438rem;
  }
  .container .row p {
    width: 20.438rem;
  }
  .container .row .counter {
    width: 4.5rem;
  }
  .container .row .counter-number {
    font-size: 2rem;
  }
  .container .row .form-pack {
    width: 20.438rem;
  }
  .container .row .form-pack .arrow-down {
    left: -2rem;
  }
  .container .row .form-pack .input-field__submenu {
    width: 17.938rem;
  }
  .container .row .form-pack .icon-check {
    left: 5rem;
  }
  .container .row .form-pack .input-field {
    width: 17.438rem;
  }
  .container .row .form-pack .btn-large {
    width: 17.438rem;
  }
  .container .row .form-pack .side-pattern {
    height: 20rem;
    width: 20.438rem;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}