.solutions-container{
  background-image: url(../assets/home/bg-pattern-header.svg);
  background-size: cover;
  background-position: 34rem -47rem;
  background-repeat: no-repeat;

  .solutions-row{
    display: flex;
    justify-content: space-around;
    align-items: center;

    .logo{
      margin-bottom: 5rem;
    }

    .illustration-charts{
      position: relative;
      max-width: 100%;
      top: 6rem;
    }

    h1{
      color: $charcoal;
      font-size: 3.5rem;
      font-weight: 700;
      width: 33.75rem;
    }

    p{
      color: $rhythm;
      font-size: 1.125rem;
      width: 33.75rem;
    }

    .btn{
      padding: 0.7rem 2rem;
      text-decoration: none;
      border-radius: 3.125rem;
      font-size: 1rem;
      font-weight: 500;
    }

    .get-started-1{
      top: 2rem;
      background-color: $blue-berry;
      color: $background-color;
      position: relative;
      
      &:hover{
        background-color: $blue-berry-hover;
      }
    }
  }
}

// subscribe section
.box-subscriptions{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  position: relative;
  top: 17rem;


  .basic, .pro, .ultimate {
    padding: 2rem;
    border-radius: 1rem;

    p {
      font-size: 1.25rem;
      padding: 0.8rem 0;
    }

    h2 {
      font-size: 3.5rem;
    }
  }

  .basic, .ultimate {
    background-color: white;
    
    p, h2 {
      color: $charcoal;
      text-align: center;
    }

    .btn-basic, .btn-ultimate{
      background-color: #e4dcdc;
      color: $blue-berry;
      text-decoration: none;
      padding: 0.7rem 2rem;
      border-radius: 3.125rem;
      font-size: 1rem;
      font-weight: 500;
      position: relative;
      top: 0.5rem;
      left: 20%;

      &:hover{
        background-color: #e3e4e4;
      }
    }
  }

  .pro {
    background-color: #5175FF;
    background-image: url(../assets/home/bg-pattern-pricing.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    p, h2 {
      color: white;
      text-align: center;
    }

    .btn-pro{
      background-color: $background-color;
      color: $blue-berry;
      text-decoration: none;
      padding: 0.7rem 2rem;
      border-radius: 3.125rem;
      font-size: 1rem;
      font-weight: 500;
      position: relative;
      top: 0.5rem;
      left: 20%;
    }
  }
}

@media (max-width: 64rem) {
  .solutions-container{
    background-position: 24rem -26rem;
    .solutions-row{
      .logo{
        margin-left: 2.5rem;
      }

      h1{
        font-size: 2.5rem;
        margin-left: 2.5rem;
      }

      p{
        margin-left: 2.5rem;
        font-size: 1rem;
        width: 21.563rem;
      }

      .get-started-1{
        left: 2.5rem;
      }
    }
  }

  .box-subscriptions{
    top: 25rem;
    flex-direction: column;

    .sub-cards{
      width: 43.063rem;
      .btn-ultimate, .btn-pro, .btn-basic {
        left: 20%;
      }
    }
  }
}

@media (max-width: 48rem) {
  .solutions-container{
            background-position: -8rem -11rem;
    .solutions-row {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        .logo{
          position: relative;
          top: -10rem;
          left: 11rem;
        }

        // .illustration-charts{
        //   width: 10.688rem;
        // }
    
        h1 {
          font-size: 2.5rem;
          text-align: center;
        }
    
        p {
          font-size: 1rem;
          text-align: center;
          width: 20.438rem;
          position: relative;
          left: 6rem;
        }

        .get-started-1{
          position: relative;
          left: 14rem;
        }
      }
  }

 .box-subscriptions{
  .sub-cards {
      max-width: 20.438rem;
    }
  }
}
