.container {
    .logo {
        margin-bottom: 3rem;
        margin-left: 8rem;
    }

    .row {
        display: flex;
        justify-content: space-between;
        padding: 4rem 8rem;

        h1 {
            color: $charcoal;
            font-size: 3.5rem;
            line-height: 4rem;
            width: 33.75rem;
        }

        p {
            color: $rhythm;
            font-size: 1.125rem;
            width: 33.75rem;
        }

        h4 {
            color: $charcoal;
            font-size: 1rem;
            font-weight: 500;
        }

        span {
            color: $blue-berry;
            font-size: 1rem;
            font-weight: 500;
        }

        .form-pack {
            border-radius: 1.25rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: $background-color;
            height: 31.75rem;
            width: 27.813rem;
            padding: 2.5rem;
            position: absolute;

            .input-field {
                border: none;
                border-bottom: 1px solid $rhythm;
                width: 22.5rem;
            }

            .input-field__submenu {
                background-color: #fff;
                border: 1px solid $rhythm;
                box-shadow: 0px 39px 38px -6px rgba(8, 8, 8, 0.44);
                -webkit-box-shadow: 0px 39px 38px -6px rgba(8, 8, 8, 0.44);
                -moz-box-shadow: 0px 39px 38px -6px rgba(8, 8, 8, 0.44);
                height: 198px;
                width: 367px;
                padding: 20px 30px;
                margin: 20px 0;
                z-index: 4;
                font-weight: 700;
                border-radius: 10px;
                position: absolute;
                top: 14rem;
                // visibility: hidden;
            }

            .submenu-control{
                display: flex;
                align-items: center;
                padding: 0.8rem;

                a{
                    color: $yankees-blue;
                    text-decoration: none;
                }

                span{
                    color: $rhythm;
                    position: relative;
                    left: 0.5rem;
                }
            }



            .form-controls {
                display: flex;
                align-items: center;
            }

            .icon-error {
                position: relative;
                left: -2rem;
                top: -0.1rem;
                visibility: hidden;
            }

            .icon-check{
                position: relative;
                left: 9rem;
            }

            .arrow-down {
                cursor: pointer;
                position: relative;
                left: -2.2rem;
            }

            .input-field[type="name"],
            .input-field[type="text"],
            .input-field[type="email"],
            .input-field[type="tel"],
            .input-field[type="company"] {
                color: $rhythm;
                font-size: 1rem;
                padding: 0.5rem 1.5rem;
            }


            .btn-large {
                background-color: $blue-berry;
                border-radius: 3.125rem;
                border: none;
                color: $background-color;
                cursor: pointer;
                font-size: 1rem;
                font-weight: 500;
                padding: 1rem 2rem;
                width: 22.5rem;
            }
        }

        .side-pattern {
            background-image: url(../assets/sign-up/bg-pattern-side.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            background-color: $charcoal;
            width: 43.25rem;
            height: 1152px;
        }
    }

    .counter-cards {
        display: flex;
        gap: 0.5rem;
    }

    .counter {
        background-color: #f7f7f7;
        padding: 1rem;
        border-radius: 0.625rem;
        text-align: center;
        width: 7rem;

        .counter-number {
            color: $blue-berry;
            font-size: 3.5rem;
            font-weight: 600;
            text-align: center;
            position: relative;
        }

        span {
            color: $rhythm;
            font-size: 1rem;
            font-weight: 600;
            text-align: center;
        }
    }
}


@media (max-width: 64rem) {
    .container {
        .row {
            flex-direction: column;
            align-items: center;
            padding: 0;


            h1 {
                text-align: center;
                font-size: 2.5rem;
            }

            p {
                font-size: 1rem;
                width: 35.75rem;
                text-align: center;
            }

            h4 {
                text-align: center;
                position: relative;
                top: 2rem;
            }

            .counter-cards {
                position: relative;
                top: 3rem;
            }

            .form-pack {
                position: relative;
                top: 14rem;
            }

            .side-pattern {
                height: 27.75rem;
                width: 100%;
            }
        }
    }
}


@media (max-width: 48rem) {
    .container {
        .row {
            padding: 0;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 2.5rem;
                width: 20.438rem;
            }

            p {
                width: 20.438rem;
            }

            .counter {
                width: 4.5rem;
            }

            .counter-number {
                font-size: 2rem;
            }

            .form-pack {
                width: 20.438rem;

                .arrow-down {
                    left: -2rem;
                }

                .input-field__submenu{
                    width: 17.938rem;
                }

                .icon-check{
                    left: 5rem;
                }

                .input-field {
                    width: 17.438rem;
                }

                .btn-large {
                    width: 17.438rem;
                }

                .side-pattern {
                    height: 20rem;
                    width: 20.438rem;
                }
            }
        }
    }
}