$background-color: #ffffff;
$blue-berry: #5175FF;
$charcoal: #333950;
$rhythm: #747B95;
$french-sky-blue: #829CFF;
$yankees-blue: #25293A;
$sunset-orange: #F05B5B;

// hover colors
$blue-berry-hover: #829CFF;

